<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ASL Image Recognition</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-info">
        <div class="container text-center">
            <a class="navbar-brand" href="#">ASL Image Recognition</a>
        </div>
    </nav>

    <div class="container text-center">
        <div id="content" style="margin-top:2em">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-6 bd">
                        <h3>ASL Image Recognition: </h3>
                        <p>The American Sign Language (ASL) is the primary language used by deaf individuals in
                            North America. It is a visual language that uses a combination of hand gestures, facial
                            expressions, and body movements to convey meaning. In recent years, there has been an
                            increasing interest in developing technologies to help bridge the communication gap
                            between the deaf and hearing communities.</p>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Deaf_or_HoH_person_at_his_workplace_using_a_Video_Relay_Service_to_communicate_with_a_hearing_person_via_a_Video_Interpreter_and_sign_language_SVCC_2007_Brigitte_SLI_%2B_Mark.jpg/1200px-thumbnail.jpg" height="50%" width="85%">
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-section">
                            <h4>Upload an Image:</h4>
                            <div>
                                <button type="button" class="btn btn-info btn-lg" id="btn-upload">Upload Image</button>
                            </div>
                        </div>
                        <form action="{{ url_for('upload') }}" id="upload-file" method="post" enctype="multipart/form-data" style="display:none;">
                            <br>
                            <label for="imageUpload" class="upload-label">
                                Choose...
                            </label>
                            <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
                        </form>
                        <div class="image-section component-container" style="display:none;">
                            <center>
                                <div class="img-preview">
                                    <div id="imagePreview"></div>
                                </div>
                            </center>
                            <div>
                                <button type="button" class="btn btn-info btn-lg" id="btn-predict">Predict</button>
                            </div>
                        </div>
                        <div class="result-section" style="display:none;">
                            <h3 id="result">Result:</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
